.mainpage {
    height: 70vh;
    display: grid;
    align-content: center;
    justify-items: center;
}

.searchbox {
    margin: 20px auto;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

