* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

.mainpage {
    height: 70vh;
    display: grid;
    align-content: center;
    justify-items: center;
}

.searchbox {
    display: flex;
    margin: 20px auto;
}

.material-icons {
    padding: 10px;
    color: gray;
    min-width: 50px;
    text-align: center;
    position: relative;
}
.search {
    left: 55px;
}
.mic_none {
    right: 55px;
    color: lightskyblue
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.btn {
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    font-weight: 100;
}

.signbtn {
    color: white;
    background: dodgerblue;
    padding: 10px 20px;
    font-weight: 900;
}

.srchbtn:hover {
    border: 1px solid gray;
}

.srchbtn:active {
    border: 1px solid blue;
}

#search {
    font-size: 1.2em;
    font-weight: 100;
    padding: 10px 50px 10px 50px;
    width: 40vw;
    min-width: 400px;
    border-radius: 25px;
    border: 1px solid gray;
    outline: none;
}

#search:hover {
    box-shadow: 0 0 5px gray;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.nav_left ul {
    display: flex;
    padding: 10px;
}

.nav_left li {
    padding-left: 30px;
}

.navbar a {
    text-decoration: none;
    color: rgb(94, 94, 94);
}

.nav_right ul {
    display: flex;
    justify-content: flex-end;

    padding: 10px;
}

.nav_right li {
    padding-right: 30px;
    align-self: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    background: rgb(233, 233, 233);
    box-shadow: 0 0 5px darkgray;
}

.footer_left ul{
    display: flex;
    align-items: center;
    padding: 10px;
}

.footer_left li {
    padding-left: 30px;
}

footer a {
    text-decoration: none;
    color: rgb(94, 94, 94)
}

.footer_right ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.footer_right li {
    padding-right: 30px;
}
